%h2= services
- if result.empty?
  %p Nie znaleziono tłumaczeń
- else
  - result.each_pair do |word, translations|
    %p
      #{word}:
      %span>= "&nbsp;".html_safe
      - translations.each_with_index do |t, index|
        - t.gsub(/[^\w\sąćęłńóśźż]+/,'').split(' ').each do |item|
          %span>= link_to item, "?q=#{item}", {:class => 'reverse-link', :alt => item}
        %span= (index == translations.size - 1 ? '' : ",&nbsp;".html_safe)
