#services{:class => 'hidden'}= @services.to_json

= image_tag("dict-logo.png", {:alt => "dict:"})
#search_area
  %input{:type => "text", :id => "query_field", :class => "search", :value => "Enter your query..."}
  %a{:href => '#', :class => 'button', :id => 'search_button'} Search

#progress_display{:class => 'hidden'} loading more results...

#results_area
  - @results.each do |service, result|
    .result= render :partial => "search/services/" + service, :locals => {:result => result}
