#services{:class => 'hidden'}= @services.to_json

= link_to image_tag("dict-logo.png", {:alt => "dict:", :id => "dict-logo"}), '/', {:id => "home_link"}
#search_area
  %input{:type => "text", :id => "query_field", :class => "search", :placeholder => "Search..."}
  %input{:type => 'button', :class => 'button', :id => 'search_button', :value => "Search"}

#progress_display{:class => 'hidden'} loading more results...

#results_area
  - @results.each do |service, result|
    .result= render :partial => "search/services/" + service, :locals => {:result => result}

