<div id="content">

	<div id="search_area">
		<input type="text" id="query_field" />
		<%= button_to_function "Search", "render_results(\"bla\")" -%>
	</div>

	<div id="results_area">
	</div>  

</div>