<html>
<head>

</head>
<body>
<div id="content">

	<div id="search">
	<input type="text" id="query"/><button type="button" value="search">Search</button>
	</div>

	<div id="result">
	</div>  

</div>




</body>
</html>



