#about
  #about-left
    %p "Dicteo" to nowe i dynamiczne przedsięwzięcie Open Source'owe w polskim internecie. Aplikacja ma na celu tłumaczenie polskich słówek na angielski i przedstawienie wyników z różnych serwisów, które oferują darmowy dla każdego słownik internetowy. Narazie aplikacja obsługuje nastepujące serwisy: "pl.wiktionary.org" i "glosbe.com".
    %p
      Przystepując do zrealizowania poleconego nam celu sporządziliśmy wstepną analizę projektową z której wynikało że aplikacja ma być prosta w obsłudze, dynamiczna, posiadała miła dla oka szate graficzną oraz obsługiwała jak najwięcej darmowych słowników internetowych.
      Etap produkcji był prowadzony na podstawie pracy według metodologii agile (Scrum), codziennym kontaktem z kientem, organizacji pracy w grupie każdego dnia i stosowania technik Test Driven Development.
      Efektem końcowym jest w pełni funkcjonalna aplikacja webowa z wykorzystaniem języka Ruby, framework'a Ruby on Rails i wzorca projektowego MVC, promujący nowy trend w internecie.
      Cały projekt był realizowany na podstawie odbycia praktyk w firmie Ragnarson Sp. z. o. o. przez praktykantów z Gdańska i Łodzi, którzy pracowali zdalnie.
  #about-right
    %h1 Zespół:
    %ul
      %li
        %a{:href => 'https://github.com/janiuuuu'} Jan Borwin
      %li
        %a{:href => 'https://github.com/mrfustrr'} Mateusz Czerwiński
      %li
        %a{:href => 'https://github.com/kdunee'} Kosma Dunikowski
      %li
        %a{:href => 'https://github.com/alexgozdek'} Aleksander Gozdek
      %li
        %a{:href => 'https://github.com/rekosko'} Rafał Ośko
      %li
        %a{:href => 'https://github.com/michalpodlecki'} Michał Podlecki
    %p Naocznymi opiekunami przy realizacji projektu i odbywaniu praktyk byli:
    %h1 Mentorzy:
    %ul
      %li
        %a{:href => 'https://github.com/grk'} Grzegorz Kołodziejczyk
      %li
        %a{:href => 'https://github.com/mkwiatkowski'} Michał Kwiatkowski
