#about
  %h1 Team members:
  %ul
    %li
      %a{:href => 'https://github.com/kdunee'} Kosma Dunikowski
    %li
      %a{:href => 'https://github.com/janiuuuu'} Jan Borwin
    %li
      %a{:href => 'https://github.com/mrfustrr'} Mateusz Czerwiński
    %li
      %a{:href => 'https://github.com/alexgozdek'} Aleksander Gozdek
    %li
      %a{:href => 'https://github.com/rekosko'} Rafał Ośko
    %li
      %a{:href => 'https://github.com/michalpodlecki'} Michał Podlecki
  %h1 Mentors:
  %ul
    %li
      %a{:href => 'https://github.com/grk'} Grzegorz Kołodziejczyk
    %li
      %a{:href => 'https://github.com/mkwiatkowski'} Michał Kwiatkowski

