body {
  padding: 8px 8px 8px;
  font: {
    family: Helvetica, arial, freesans, clean, sans-serif;
    size: 14px;
  }
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 5px;
}

@mixin fake-button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin linear-gradient($first-color, $second-color) {
  background: $first-color;
  background: -moz-linear-gradient($first-color,$second-color);
  background: -webkit-linear-gradient($first-color,$second-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$first-color',endColorstr='$second-color')";
}

.button {
  position: relative;
  display: inline-block;
  padding: 0 10px 0 10px;
  color: #333;

  font: {
    family: Helvetica,arial,freesans,clean,sans-serif;
    size: 13px;
    weight: bold;
  }

  line-height: 24px;
  text-shadow: 0 1px 0 white;
  white-space: nowrap;
  border: 1px solid #D4D4D4;
  border-bottom-color: #BCBCBC;
  border-radius: 3px;

  @include linear-gradient(#fafafa, #eaeaea);
  @include fake-button;
}

.button-down {
  @extend .button;
  @include linear-gradient(#8b8bfa, #5b5bea);
  color: #eee;
  text-shadow: 0 -1px 0 #666;
  border: 1px solid #949494;
}

.search {
  background-color: white;
  border: 1px solid #DDD;
  border-top: 1px solid #CDCDCD;
  box-shadow: 0 1px 0 #f1f1f1,inset 0 1px 1px #e0e0e0;
  padding: 5px 5px 5px 5px;
  color: #666;
  font-size: 12px;
  width: 855px;
}
