body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#wrapper {
  height: 100%;
}

body, p {
  font-size: 13px;
}

div, input, a, p, h2 {
  margin: 0px;
  padding: 0px;
}

input {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow-inset($color) {
  -moz-box-shadow:inset 0px 1px 0px 0px $color;
  -webkit-box-shadow:inset 0px 1px 0px 0px $color;
  box-shadow:inset 0px 1px 0px 0px $color;
}

@mixin shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
}

@mixin gradient($c1, $c2) {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $c1), color-stop(1, $c2) );
  background:-moz-linear-gradient( center top, $c1 5%, $c2 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c2');
  background-color:$c1;
}

#header {
  border-top: 6px solid #4863a3;
  border-bottom: 1px solid #e0e0e0;
  background: #f8f8f8;
  height: 76px;

  #header-inner {
    margin: auto;
    width: 98%;
    max-width: 940px;
  }

  #home-link {
    position: relative;
    top: 12px;
    max-width: 170px;
    width: 18%;
    display: inline-block;
  }

  #search-area {
    position: absolute;
    top: 25px;
    height: 40px;
    width: 80.6%;
    max-width: 758px;
    display: inline-block;

    background: white;
    border: 1px solid #767676;
    @include rounded(3px);

    #query-field {
      color: #938989;

      border: 0px;
      padding-left: 10px;
      position: relative;
      height: 40px;
      width: 85.8%;
    }

    #search-button {
      position: absolute;
      right: 5px;
      top: 4px;
      float: right;
      width: 93px;
      height: 32px;

      cursor: hand;
      cursor: pointer;

      @include shadow-inset(#9ec1e1);
      @include gradient(#6897d5, #5064b5);
      @include rounded(2px);
      @include shadow;

      border:1px solid #3f608d;
      border-bottom:1px solid #2d346f;
      font-weight:bold;
      font-size: 11px;
      color: #ffffff;
      text-shadow: 0px 1px 0px #172040;
    }

    #search-button:hover {
      @include gradient(#5887c5, #4054a5);
    }
  }
}

#content {
  margin: auto;
  max-width: 960px;
  width: 98%;
  margin-bottom: 100px;
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid #363636;
  background-image: url(footer-bg.png);
  height: 64px;
  text-align: center;

  #footer-inner {
    margin: auto;
    width: 98%;
    max-width: 940px;
    vertical-align: middle;

    #footer-links {
      display: inline-block;
      position: relative;
      bottom: 8px;
      margin-right: 20px;

      a {
        color: #c8d7e3;
        font-size: 11px;
        text-decoration: none;
        text-shadow: 0px -1px 0px #171b3e;
      }

      a::after {
        content: " |";
        margin-left: 0.5em;
        margin-right: 0.5em;
      }

      a.last-link::after {
        content: "";
        margin: 0;
      }

      a:hover {
        color: white;
      }
    }

    #footer-logos {
      display: inline-block;
      position: relative;
      top: 11px;
      padding-left: 12px;
      border-left: 1px solid #559;

      .footer-logo {
        display: inline-block;
        margin-right: 10px;
        opacity: 0.5;
      }

      .footer-logo:hover {
        opacity: 1;
      }

      p {
        color: #c8d7e3;
        text-shadow: 0px -1px 0px #373b5e;
        font-size: 11px;
        margin-bottom: 3px;
      }
    }
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1146px) {
  #github-ribbon {
    display: none;
  }
}
