@media only screen and (max-width: 480px) {
  body, p {
    font-size: 67%;
  }

  #header {
    height: 6.5em;

    #header-inner {
      width: 95%;

      #home-link {
        text-align: center;
        position: relative;
        top: 0.4em;
        margin: auto;
        display: block;
        width: 30%;

        img {
          width: 70%;
          position: relative;
        }
      }

      #search-area {
        position: relative;
        top: 0.05em;
        width: 100%;
        height: 3em;

        form {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
        }

        #query-field {
          position: relative;
          width: 85%;
          height: 80%;
          top: 10%;
          font-size: 1.2em;
          padding-left:0.5em;
        }

        #search-button {
          position:absolute;
          top: 10%;
          float: right;
          width: 6.5em;
          font-size: 1.0em;
          height: 80%;
        }
      }
    }
  }

  #content {
    margin: auto;
    width: 95%;
    margin-bottom: 4em;

    #about {
      margin: 0;

      #about-left {
        width: 100%;
      }

      #about-right {
        float: none;
      }
    }
  }

  #results-area {
    .result {
      padding: 0.5em;

      border-bottom: 1px solid #cbcbcb;

      h2 {
        margin-bottom: 0.3em;
        font-size: 1.2em;
        font-weight: normal;
        color: #405094;
      }

      p {
        margin-left: 2em;
        margin-bottom: 0.3em;
        color: #171717;
        font-size: 1.2em;
      }
    }
  }

  #progress-display {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    text-align: center;
    color: #444;
  }

  #github-ribbon {
    display: none;
  }

  #footer {
    height: 2em;

    #footer-inner {
      margin: auto;
      width: auto;

      #footer-links {
        position: relative;
        bottom: -0.3em;
        margin: 0;

        a {
          font-size: 1em;
        }
      }

      #footer-logos {
        display: none;
      }
    }
  }
}
