#results-area {
  h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
    color: #405094;
  }

  p {
    margin-left: 22px;
    margin-bottom: 6px;
    color: #171717;
  }

  .result {
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    border-bottom: 1px solid #cbcbcb
  }
}

#progress-display {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #444;
}
