// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  width: 960px;
  margin: auto;
}

#search_area {
  padding: 8px 8px 8px;
  background: #E6F1F6;
  border: 1px solid #C5D5DD;
  border-radius: 4px;
}

#search-button {
  float: right;
  margin-top: 2px;
}

#results_area {
  padding: 8px 8px 8px;
}

.result {
  background-color: white;

  border: {
    color: #C5D5DD;
    style: solid;
    width: 1px;
    radius: 4px;
  }

  color: #333;
  display: block;
  margin: 0;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 7px;

  h2 {
    color: #667;
    margin-top: 7px;
    margin-bottom: 3px;
  }

  h3 {
    color: #888;
    margin-left: 5px;
    margin-bottom: 3px;
  }

  ol {
    margin-top: 3px;
  }

  .result-header {
    border-bottom: 1px solid #ccc;
  }
}
