.result-header
  %h2 Wiktionary
.result-content
  #wiktionary_translations
    %h3 Translations
    - if result.translations.empty?
      #p No translations found.
    - else
      %p= result.translations[query].join(", ")
  #wiktionary_examples
    %h3 Usage examples
    - if !result.examples.empty?
      %ol
        - result.examples[query].each do |example|
          %li= example
