.result-header
  %h2 Wiktionary
.result-content
  #wiktionary_translations
    %h3 Translations
    %p= result[0].join(", ")
  #wiktionary_sentences
    %h3 Sentences
    %ol
      - result[1].each do |sentence|
        %li= sentence
